[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:jwaldrip/prezto.git
[submodule "solarized"]
	path = solarized
	url = git@github.com:altercation/solarized.git
[submodule ".private"]
	path = .private
	url = git@github.com:jwaldrip/.private.git
[submodule "osxc"]
	path = osxc
	url = https://github.com/osxc/xc-boot.git
