"*":
  "atom-import-sort":
    sortOnSave: true
  core:
    ignoredNames: [
      "dist"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
  esformatter:
    formatOnSave: true
  "exception-reporting":
    userId: "ee35edd5-b10e-2972-2bb2-7de3358f4014"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "goto-definition": {}
  "js-autoimport": {}
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
    ]
  "jump-to-import": {}
  "language-babel": {}
  linter:
    errorPanelHeight: 217
  "linter-eslint": {}
  "linter-ruby":
    rubyExecutablePath: "/Users/jwaldrip/.rubies/ruby-2.3.1/bin/ruby"
  "merge-conflicts": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "spell-check": {}
  welcome:
    showOnStartup: false
